In [1]:
import pandas as pd
import numpy as np

In [2]:
ngene=200

hHep

In [3]:
fname='/home/linaiqi/Lab/data/BEELINE-data/inputs/scRNA-Seq/hHep/GeneOrdering.csv'

In [4]:
df = pd.read_csv(fname)

In [5]:
df=df.sort_values(by=['Variance'], ascending=False)

In [6]:
df.head()

   Unnamed: 0     VGAMpValue   Variance
0         AFP  2.640337e-252  38.857646
6         FGB  2.123082e-187  33.555070
8         TTR  8.415990e-176  33.160322
18        FGG  3.275191e-150  29.620222
4       APOC3  9.966868e-207  29.146411

In [7]:
genes=df.iloc[:ngene, 0].tolist()

In [8]:
genes

['AFP',
 'FGB',
 'TTR',
 'FGG',
 'APOC3',
 'APOA2',
 'APOA1',
 'RBP4',
 'SPINK1',
 'FGA',
 'APOA4',
 'CER1',
 'VTN',
 'GSTA1',
 'LGALS3',
 'HMGCS2',
 'RNASE1',
 'GSTA2',
 'SEPP1',
 'TDGF1',
 'UBE2C',
 'CDK1',
 'GNRH2',
 'HPX',
 'S100A14',
 'IFITM1',
 'TF',
 'CCNB1',
 'SHISA2',
 'IFITM2',
 'APOB',
 'ID2',
 'ACTL6A',
 'AHSG',
 'SEMA3E',
 'MT1X',
 'APOC4.APOC2',
 'TAGLN',
 'HGD',
 'KPNA2',
 'MAD2L1',
 'TFPI',
 'HP',
 'DPEP1',
 'ESRG',
 'L1TD1',
 'LGALS1',
 'UCHL1',
 'FABP1',
 'PTTG1',
 'S100A16',
 'CDC20',
 'ZNF770',
 'LEAP2',
 'SPP1',
 'CCNB2',
 'AGT',
 'SPTLC3',
 'ANPEP',
 'KNTC1',
 'DLGAP5',
 'ALB',
 'WDR12',
 'IL32',
 'AURKB',
 'GATM',
 'CIDEB',
 'RGS2',
 'SLN',
 'HMGB2',
 'AKR1D1',
 'FMO5',
 'AASS',
 'MCM4',
 'UCP2',
 'PIGY',
 'FKBP11',
 'CD9',
 'GLIPR2',
 'ADM',
 'TNFRSF12A',
 'CENPK',
 'CDKN3',
 'AMBP',
 'ITLN2',
 'DNMT3B',
 'ANXA4',
 'HESX1',
 'RAMP1',
 'CCKBR',
 'BSCL2',
 'NFYB',
 'PCNA',
 'PRKCE',
 'PDZK1',
 'ERBB4',
 'BIRC5',
 'CBR1',
 'MUSTN1',
 'MTHFD2',
 'NQO1',
 'LIPA',
 'MST1',
 'HERPUD1',
 'MCM7',
 'NEK2',
 'ASS1',
 'SC5D',
 'RBP2',
 'ARRDC3',
 'LEFTY2',
 'KIAA0101',
 'PMAIP1',
 'TOP2A',
 'CA2',
 'SMAGP',
 'RHOBTB3',
 'OCIAD2',
 'PRMT5',
 'ZWINT',
 'GMPR2',
 'TBPL1',
 'LUZP6',
 'TMEM135',
 'SCAPER',
 'EFNA1',
 'S100A6',
 'CAMK2D',
 'DDIT4',
 'SLC7A7',
 'PRAP1',
 'RCHY1',
 'SOCS2',
 'PSAT1',
 'FOS',
 'MT2A',
 'DDIT3',
 'ALDH1A1',
 'NNAT',
 'LCP1',
 'SLC51A',
 'WFDC2',
 'OTX2',
 'RFC4',
 'LYPLAL1',
 'GULP1',
 'TERF1',
 'RAD51AP1',
 'FLRT3',
 'ALDOC',
 'CRABP2',
 'HELLS',
 'F2',
 'AKR1B1',
 'LITAF',
 'DPPA4',
 'CLU',
 'LAMB2',
 'ANXA3',
 'PLCD1',
 'ZWILCH',
 'PON2',
 'FAM184A',
 'DDX39A',
 'LIN28A',
 'HSD17B11',
 'PRIM1',
 'DPH6',
 'PPT1',
 'CENPN',
 'LCMT1',
 'ASUN',
 'SMCO4',
 'SMC4',
 'DNASE1',
 'C3orf14',
 'ACY1',
 'PDGFRA',
 'NOP16',
 'STC1',
 'GYG1',
 'TXNIP',
 'CTSC',
 'BPHL',
 'COMMD3',
 'ANG',
 'NIP7',
 'IFT57',
 'GSN',
 'ASNS',
 'TRMT11',
 'STMN1',
 'ATG4C',
 'IFITM3',
 'FLRT2',
 'CEP70',
 'EPHX2',
 'ASGR1',
 'CENPW',
 'RIOK2']

In [9]:
# df=df.rename(mapper={'Unnamed: 0': "gene"}, axis='columns')
# df=df.set_index('gene')
# fout='/home/linaiqi/Lab/data/hESC200-celldata.csv'
# df.iloc[:ngene].to_csv(fout)

In [10]:
fname='/home/linaiqi/Lab/data/BEELINE-data/inputs/scRNA-Seq/hHep/ExpressionData.csv'

In [11]:
df = pd.read_csv(fname)

In [12]:
df.head()

,Unnamed: 0,A10_de,A11_de,A2_de,A3_de,A5_de,A7_de,A8_de,B11_de,B1_de,...,G3_mh2,G6_mh2,G7_mh2,G8_mh2,G9_mh2,H11_mh2,H12_mh2,H1_mh2,H3_mh2,H5_mh2
0,ESRG,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,SAMD11,0.000000,2.840248,1.585035,0.000000,1.289463,0.0,0.177599,0.000000,0.000000,...,0.000000,0.000000,0.736328,0.000000,0.000000,1.154953,0.000000,0.000000,0.000000,0.000000
2,NOC2L,0.000000,5.759883,2.775021,4.800771,5.187716,0.0,4.503520,0.000000,0.000000,...,2.865244,4.734450,5.274500,4.802198,4.387955,6.568120,5.045172,0.000000,6.153297,4.292318
3,ISG15,6.109068,1.539124,5.640696,6.313240,5.275447,0.0,5.914787,5.037426,2.848644,...,5.676375,6.797947,1.685568,6.278884,6.218597,5.369704,10.060210,9.379526,0.000000,9.962509
4,AGRN,0.382070,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.679018,0.000000,0.622949,0.000000,4.763157,0.000000,0.000000,0.000000,0.000000,0.000000

In [13]:
lst=df.columns

In [14]:
lst

Index(['Unnamed: 0', 'A10_de', 'A11_de', 'A2_de', 'A3_de', 'A5_de', 'A7_de',
       'A8_de', 'B11_de', 'B1_de',
       ...
       'G3_mh2', 'G6_mh2', 'G7_mh2', 'G8_mh2', 'G9_mh2', 'H11_mh2', 'H12_mh2',
       'H1_mh2', 'H3_mh2', 'H5_mh2'],
      dtype='object', length=426)

In [15]:
cnt=0
fout='/home/linaiqi/Lab/data/hHep200-celldata.csv'
with open(fout,'w') as f:
    f.write(',PseudoTime1\n')
    for g in lst[1:]:
        f.write('%s,%d\n'%(g,cnt))
        cnt+=1

In [16]:
df=df.rename(mapper={'Unnamed: 0': "gene"}, axis='columns')

In [17]:
df=df.set_index('gene')

In [18]:
fout='/home/linaiqi/Lab/data/bl-hHep200.csv'

In [19]:
df.loc[genes].to_csv(fout)

In [20]:
data=df.loc[genes].to_numpy().T

In [21]:
data.shape

(425, 200)

In [22]:
fout='/home/linaiqi/Lab/data/hHep200.txt'

In [23]:
with open(fout, 'w') as f:
    f.write("\t".join(genes)+'\n')
    for i in range(data.shape[0]):
        f.write('%.8f'%data[i, 0])
        for j in range(1, data.shape[1]):
            f.write('\t%.8f'%data[i, j])
        f.write('\n')

In [24]:
fname='/home/linaiqi/Lab/data/Networks/human/hESC-ChIP-seq-network.csv'
fout='/home/linaiqi/Lab/data/bl-hHep200-ChIP-seq-network.csv'

cnt=0
with open(fname) as fin, open(fout, 'w') as f:
    l = fin.readline()
    f.write(l)
    for l in fin:
        a, b = l.strip().split(',')
        if a in genes and b in genes:
            cnt+=1
            f.write('%s,%s\n'%(a,b))
print(cnt)

75

In [25]:
fname='/home/linaiqi/Lab/data/Networks/human/Non-specific-ChIP-seq-network.csv'
fout='/home/linaiqi/Lab/data/bl-hHep200-nonspec-ChIP-seq-network.csv'

cnt=0
with open(fname) as fin, open(fout, 'w') as f:
    l = fin.readline()
    f.write(l)
    for l in fin:
        a, b = l.strip().split(',')
        if a in genes and b in genes:
            cnt+=1
            f.write('%s,%s\n'%(a,b))
print(cnt)

43

In [26]:
fname='/home/linaiqi/Lab/data/Networks/human/STRING-network.csv'
fout='/home/linaiqi/Lab/data/bl-hHep200-STRING-network.csv'

cnt=0
with open(fname) as fin, open(fout, 'w') as f:
    l = fin.readline()
    f.write(l)
    for l in fin:
        a, b = l.strip().split(',')
        if a in genes and b in genes:
            cnt+=1
            f.write('%s,%s\n'%(a,b))
print(cnt)

226