In [1]:
import pandas as pd
import numpy as np

In [2]:
ngene=200

hESC

In [3]:
fname='/home/linaiqi/Lab/data/BEELINE-data/inputs/scRNA-Seq/hESC/GeneOrdering.csv'

In [4]:
df = pd.read_csv(fname)

In [5]:
df=df.sort_values(by=['Variance'], ascending=False)

In [6]:
df.head()

   Unnamed: 0     VGAMpValue   Variance
1        CER1  2.845685e-304  31.444854
0      HAPLN1  7.194297e-313  29.410671
8       ERBB4  1.492803e-205  23.947155
4     CYP26A1  3.424833e-244  18.432836
98       DKK4   4.841053e-98  18.367921

In [7]:
genes=df.iloc[:ngene, 0].tolist()

In [8]:
# df=df.rename(mapper={'Unnamed: 0': "gene"}, axis='columns')
# df=df.set_index('gene')
# fout='/home/linaiqi/Lab/data/hESC200-celldata.csv'
# df.iloc[:ngene].to_csv(fout)

In [9]:
fname='/home/linaiqi/Lab/data/BEELINE-data/inputs/scRNA-Seq/hESC/ExpressionData.csv'

In [10]:
df = pd.read_csv(fname)

In [11]:
df.head()

,Unnamed: 0,H9_00hb4s_001,H9_00hb4s_002,H9_00hb4s_003,H9_00hb4s_004,H9_00hb4s_005,H9_00hb4s_006,H9_00hb4s_007,H9_00hb4s_008,H9_00hb4s_009,...,H9_96h_182,H9_96h_183,H9_96h_184,H9_96h_185,H9_96h_186,H9_96h_187,H9_96h_188,H9_96h_189,H9_96h_190,H9_96h_192
0,A1BG,2.510133,0.000000,1.702251,4.259372,2.851143,0.000000,2.357210,0.925952,0.000000,...,0.0,1.946191,3.524386,0.000000,0.0,3.516034,0.0,0.000000,1.510372,1.418294
1,A1CF,1.424896,1.208699,0.000000,0.000000,0.000000,0.000000,1.130935,1.880416,0.000000,...,0.0,0.000000,0.000000,1.910541,0.0,0.000000,0.0,0.804444,0.000000,0.883394
2,A2LD1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.295367,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000
3,A2M,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000
4,A2ML1,2.141105,2.936250,0.220701,0.776599,1.375939,1.473409,0.000000,1.359460,2.312497,...,0.0,1.244709,1.886233,0.632573,0.0,1.195413,0.0,1.539408,3.034209,0.000000

In [12]:
lst=df.columns

In [13]:
lst

Index(['Unnamed: 0', 'H9_00hb4s_001', 'H9_00hb4s_002', 'H9_00hb4s_003',
       'H9_00hb4s_004', 'H9_00hb4s_005', 'H9_00hb4s_006', 'H9_00hb4s_007',
       'H9_00hb4s_008', 'H9_00hb4s_009',
       ...
       'H9_96h_182', 'H9_96h_183', 'H9_96h_184', 'H9_96h_185', 'H9_96h_186',
       'H9_96h_187', 'H9_96h_188', 'H9_96h_189', 'H9_96h_190', 'H9_96h_192'],
      dtype='object', length=759)

In [14]:
cnt=0
fout='/home/linaiqi/Lab/data/hESC200-celldata.csv'
with open(fout,'w') as f:
    f.write(',PseudoTime1\n')
    for g in lst[1:]:
        f.write('%s,%d\n'%(g,cnt))
        cnt+=1

In [15]:
df=df.rename(mapper={'Unnamed: 0': "gene"}, axis='columns')

In [16]:
df=df.set_index('gene')

In [17]:
fout='/home/linaiqi/Lab/data/bl-hESC200.csv'

In [18]:
df.loc[genes].to_csv(fout)

In [31]:
data=df.loc[genes].to_numpy().T

In [32]:
data.shape

(758, 200)

In [37]:
fout='/home/linaiqi/Lab/data/hESC200.txt'

In [40]:
with open(fout, 'w') as f:
    f.write("\t".join(genes)+'\n')
    for i in range(data.shape[0]):
        f.write('%.8f'%data[i, 0])
        for j in range(1, data.shape[1]):
            f.write('\t%.8f'%data[i, j])
        f.write('\n')

In [23]:
fname='/home/linaiqi/Lab/data/Networks/human/hESC-ChIP-seq-network.csv'
fout='/home/linaiqi/Lab/data/bl-hESC200-ChIP-seq-network.csv'

cnt=0
with open(fname) as fin, open(fout, 'w') as f:
    l = fin.readline()
    f.write(l)
    for l in fin:
        a, b = l.strip().split(',')
        if a in genes and b in genes:
            cnt+=1
            f.write('%s,%s\n'%(a,b))
print(cnt)

147

In [22]:
fname='/home/linaiqi/Lab/data/Networks/human/Non-specific-ChIP-seq-network.csv'
fout='/home/linaiqi/Lab/data/bl-hESC200-nonspec-ChIP-seq-network.csv'

cnt=0
with open(fname) as fin, open(fout, 'w') as f:
    l = fin.readline()
    f.write(l)
    for l in fin:
        a, b = l.strip().split(',')
        if a in genes and b in genes:
            cnt+=1
            f.write('%s,%s\n'%(a,b))
print(cnt)

25

In [21]:
fname='/home/linaiqi/Lab/data/Networks/human/STRING-network.csv'
fout='/home/linaiqi/Lab/data/bl-hESC200-STRING-network.csv'

with open(fname) as fin, open(fout, 'w') as f:
    l = fin.readline()
    f.write(l)
    for l in fin:
        a, b = l.strip().split(',')
        if a in genes and b in genes:
            f.write('%s,%s\n'%(a,b))